APP_ENV=
APP_PORT=
API_KEY=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=
DB_SSLMODE=
DB_SSLROOTCERT=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GOMAIL_HOST=
GOMAIL_PORT=
GOMAIL_USERNAME=
GOMAIL_PASSWORD=

# FIREBASE_BUCKET=
# FIREBASE_CREDENTIALS_PATH=

REDIS_HOST=
REDIS_PORT=
REDIS_PASS= 

#JWT_EXP_TIME in hours. example 1 =
JWT_SECRET_KEY=
JWT_EXP_TIME=
JWT_ADMIN_ROLE=
JWT_USER_ROLE=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET=
